#yellow {
  background-color: yellow;
  border-width: 1px;
  border-style: solid;
  border-color: green;
}

#red {
  background-color: red;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

#green {
  background-color: green;
  border-width: 1px;
  border-style: solid;
  border-color: yellow;
}
